* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}


.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
    grid-template-columns:15em auto 15em ;
    grid-template-rows: 100px 450px 100px;
  grid-column-gap: 10px;
} 

.left,
.middle,
.right {
  padding: 10px;
}


.left {
  grid-area: left;
  overflow:auto;
  background-color: coral;
}

   ul {
    list-style-type: none;
    margin: 0;
    padding:0;

  }


.left a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.left a:active {
  background-color: #ddd;
  color: black;
}

.middle {
  grid-area: middle;

}


.right {
  grid-area: right;
}


.footer {
  grid-area: footer;
  align-items: baseline;
  background-color: palegoldenrod;
  padding: 5px;
  text-align: center;
}



/*mobile rules*/
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}

@media only screen and (min-width: 524px){
    body {
      background-color: orchid;
    }
  
  }
